@using System.Globalization;
@{
    ViewData["Title"] = "Home Page";
    ViewData["BasketQty"] = "0";
}

@model List<Codecool.CodecoolShop.Models.Product>

<div class="container">
    @foreach (var element in Model)
    {
        <div class="col-lg-3 col-lg-3" style="display: inline-block; max-width: 350px; height: 350px">
            <div class="card">
                <img src="img/@(element.Name).jpg" style="height: 50%; width: 50%; align-self: center; padding-top: 10px">

                <div class="card-body">
                    <!--
                    <h5 class="card-title text-center">
                        Product
                        @{ var num = Model.IndexOf(element) + 1;}
                        @num
                    </h5>
                    -->
                    <h5 class="card-title">@element.Name</h5>
                    <p class="card-text">@element.Description.</p>
<<<<<<< Updated upstream
                    <p class="card-text">Category: @element.CategoryToString(element.ProductCategories)</p>
=======
                    <p class="card-text">Category: @element.ProductCategory.ProductCategory</p>
>>>>>>> Stashed changes
                    <p class="card-text">Supplier: @element.Supplier.Name</p>
                    <p class="card-text text-center"><strong>Price: @element.DefaultPrice.ToString("C2", new CultureInfo("en-US"))</strong></p>
                    <p class="card-text text-center">
                        <a href="" type="button" class="btn btn-primary">Add To Cart</a>
                    </p>
                </div>
            </div>
        </div>
    }


</div>
